name: Test Scala Steward Action

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run scala-steward action
        uses: lemony312/scala-steward-action@min
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          author-email: "Louis.Boguslav312@gmail.com"
          github-app-auth-only: 'true'
          repos-file: repos.md
